/*
.trangle(top){
	border-width: 50px;
	border-color: #f00 transparent transparent transparent;
}
.trangle(right){
	border-width: 50px;
	border-color: transparent #f00 transparent transparent;
}
.trangle(bottom){
	border-width: 50px;
	border-color: transparent transparent #f00 transparent;
}
.trangle(left){
	border-width: 50px;
	border-color: transparent transparent transparent #f00;
}
*/
/*选择符合条件的混合模式,根据传入的参数来决定使用哪个混合*/
.box4 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px;
  border-color: #ff0000 transparent transparent transparent;
}
